.Tarefa {
    border-bottom: 1px solid white;
}

.Tarefa h3 {
    font-size: 32px;
}

.Tarefa p {
    font-size: 24px;
    margin-top: 0px;
}

.topo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
